body {
  margin: 0;
  background-color: #70D6FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVIGATION */
nav {
  margin-top: 10px;
  height: 75px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  background-color: #ff9770;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-title {
  display: inline;
  color: white;
  font-size: 50px;
  background-color: #ff9770;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

/* HOME PAGE */
.sub-title {
  color: white;
  text-align: center;
}

#content-feature  {
  width: 100%;
  height: 275px;
  background-color: white;
}

.featured-card {
  text-align: center;
}

.slide-img {
  padding: 10px;
}

/* INDEX */
