body {
  margin: 0;
  background-color: #70D6FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

/* NAVIGATION */
nav {
  margin-top: 10px;
  height: 75px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  background-color: #ff9770;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-title {
  display: inline;
  color: white;
  font-size: 50px;
  background-color: #ff9770;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

/* FOOTER */
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff9770;
  color:white;
  margin-top: 275px;
}

.footer p {
  margin: auto;
}

/* HOME PAGE */
.sub-title {
  color: white;
  text-align: center;
}

.content-feature  {
  width: 100%;
  height: 275px;
  background-color:antiquewhite;
  color: #ff9770;
}

.featured-card {
  text-align: center;
}

.slide-img {
  padding: 10px;
}

/* INDEX PAGE */
.oatmeal-card {
  background-color:antiquewhite;
  width: 350px;
  height: 350px;
  margin: 20px;
  text-align: center;
  clip-path: circle(170px at center);
}

article .oatmeal-card img {
  padding-top: 40px;
}

article .oatmeal-card .center-rating {
  display: inline-block;
}

article a {
  text-decoration: none;
  color: #ff9770;
}

article .oatmeal-card .oatmeal-img {
  width: 125px;
  height: 125px;
}

article {
  width: 375px;
  display: inline;
  float: left;
}

.oatmeal-card p {
  font-weight: bold;
  font-size: 15px;
}

.oatmeal-card .heart {
  width: 25px;
}

.toggle-favorite {
  margin-top: -40px;
}

/* NEW FORM */
#new-form, #edit-form {
  width: 645px;
  margin: auto;
}

.new-input-parts {
  margin: 15px;
  width: 50%;
  display: flexbox;
}

.new-input-parts .heart {
  width: 50px;
  margin-top: 35px;
}

.new-input-parts label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.new-input-parts input:focus, .new-input-parts textarea:focus {
  outline: none;
}

#name, #image {
  border: none;
  height: 30px;
  width: 600px;
  border-radius: 10px;
  padding: 5px;
  color: #ff9770;
}

#calories, #carb, #fiber, #sugar, #fat {
  border: none;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  padding: 5px;
  color: #ff9770;
}

.description {
  margin-top: 80px;
}

#description {
  width: 600px;
  height: 50px;
  resize: none;
  border-radius: 10px;
  border: none;
  padding: 5px;
  color: #ff9770;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new-input-parts-numbers {
  display: -webkit-box;
  text-align: center;
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  color: #ff9770;
}

.new-input-parts-type-price {
  display: inline-flex;
}

.new-input-parts-type-price input {
  border: none;
  height: 30px;
  width: 280px;
  border-radius: 10px;
  padding: 5px;
  color: #ff9770;
}

.new-input-parts-rating {
  color: white;
  margin: 10px;
}

#submit-btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #ff9770;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
  appearance: none;
}

/* SHOW PAGE */
.oatmeal-details {
  background-color: antiquewhite;
  width: 645px;
  color: #ff9770;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.oatmeal-details img {
  margin: auto;
  display: block;
}

.details-nutrition {
  text-align: center;
  padding-top: 20px;
}

.details-nutrition h5 {
  margin: 20px;
  display: inline;
}

.oatmeal-heading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.oatmeal-name {
  padding-right: 15px;
}

.oatmeal-heading span .heart {
  width: 50px;
  position: relative;
  top: 10px;
}

.oatmeal-details div {
  margin: auto;
}

.oatmeal-details span {
  margin-bottom: 20px;
}

.oatmeal-details h3 {
  text-align: center;
  margin-top: -10px;
}

.oatmeal-details-navigation {
  text-align: center;
}

.oatmeal-details-navigation button {
  width: 100px;
  height: 35px;
  font-size: 18px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  color: #ff9770;
  background-color: antiquewhite;
}

/* EDIT FORM */
.edit-form .oatmeal-details-navigation {
  text-align: center;
}

.edit-form .oatmeal-details-navigation button {
  width: 100px;
  height: 35px;
  font-size: 18px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  color: #ff9770;
  background-color: antiquewhite;
}

/* INDEX PAGE - FILTERING SECTION */
.filter-content {
  background-color: antiquewhite;
  width: 85%;
  height: 250px;
  margin: auto;
  border-radius: 10px;
}

.sub-sub-title {
  color: #ff9770;
  text-align: center;
}